textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


h2 {
    color: #2c3e50;
}

p {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

